/* Make sure the body is wider than the graphic */

.DNButtonLinks
{
    font-size:1.1em;
    font-weight: 300;
    color: #505050;
}

/* These two are site specific */
/* used in the explorer */
.ChartLegend 
{
   left:10px;    
   top:45px;
   width:345px;
   height:530px;
}
/* Used in the PNA tool */
.ChartLegend2 
{
    position:relative;
    left:10px;       
    top:45px;
    width:330px;
    height:280px;
}
/* Used in the IDPG tool */
.ChartLegend3 
{
    position:relative;
    left:10px;       
    top:45px;    
    width:150px;
    height:315px;
    text-align: right;
}
/* Used in the SGBV tool */
.ChartLegend4 
{
    position:relative;
    left:10px;       
    top:45px;
    width:325px;
    height:270px;
}

/* Needs to be absolutely sized in the explorer */
.ChartReset 
{
    position:absolute;
    left:30px;
    top:800px;
    z-index:1200;
}
.ChartButton, a:link.ChartButton, a:visited.ChartButton, a:active.ChartButton
{
    color:#505050;
    font-size:1.5em;
}
a:hover.ChartButton
{
    color:#DE9700;
}


.DataView
{
    position:relative;
    margin:0 auto;
    min-width:1470px;
    width:1470px;
    min-height:900px;
}
.ChartBox {
    position: absolute;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;
    border-radius: 1px 1px 1px 1px;
    /*box-shadow: 2px 2px 3px #cccccc;*/
    border: none;
    border-left: 1px solid #f5f8fc; /*edf2fa*/
    border-top: 1px solid #f5f8fc; /*f5fbff*/
    overflow: hidden;
}
.ChartTitle
{
    margin:0 auto;
    font-weight:600;
    font-size:1.2em;
    color:#505050; /*0c4c70*/
    width:100%;
    text-align:center;
    position:relative;
    background-color:#f5f8fc;
    border-radius:0px 0px 0px 0px;
    border-bottom:solid 1px #dfe7f5; /* 2c8ac1 */
    padding-left:0px;
    padding-top:5px;
    padding-bottom:5px;
}
#TotalBeneficiaries, .KeyNumber {
    font-size:2em;
    color:#505050;
    font-weight:600;
}

.KeyNumber1 {
  color:#2c8ac1; /* Blue */
}
.KeyNumber2 {
  color:#e77b37; /* Orange */
}
.KeyNumber3 {
  color:#d23f67; /* Pink */
}
.KeyNumber4 {
  color:#f7bb16; /* Yellow */
}
.KeyNumber5 {
  color:#505050; /* Grey */
}


.ChartSummary {
    color:#505050;
    font-size:1.4em;
}
.ChartSummaryBig {
    color:#505050;
    font-size:1.9em;
    font-weight:bold;
    vertical-align:middle;
}
.numText
{
    position:relative;
    float:right;
}

/* Bar charts */
.BChart {
  fill:#0072BC; /*2B4661;*/                                                                 
}
.BChart1 {
  fill:#2c8ac1; /* Blue */
}
.BChart2 {
  fill:#e77b37; /* Orange */
}
.BChart3 {
  fill:#d23f67; /* Pink */
}
.BChart4 {
  fill:#f7bb16; /* Yellow */
}
.BChart5 {
  fill:#505050; /* Grey */
}

.BChartHover {
  fill:#f7bb16;
}
.BChartDisabled {
  fill:#cccccc;
}
.BChartClicked {
  fill:#ff00ff;
}
.BChartText
{
  fill:#808080;
  font-size:11px;
  text-anchor:left;
}
.BCAxis
{
    fill:#505050;
    font-size:11px;
}
.BCAxis path,
.BCAxis line {
  fill:none;
  stroke:#505050;
  shape-rendering:crispEdges;
}
.y.BCAxis path {
  display:none;
}

/* Column charts */
.CChart {
  fill:#2c8ac1; 
}
.CChart1 {
    fill: #2c8ac1; /* Blue */
}
CChart2 {
  fill:#e77b37; /* Orange */
}
.CChart3 {
  fill:#d23f67; /* Pink */
}
.CChart4 {
  fill:#f7bb16; /* Yellow */
}
.CChart5 {
    fill: #505050; /* Grey */
}
.CChartDisabled {
  fill:#cccccc;
}
.CChartHover {
  fill:#f7bb16;
}
.CChartClicked {
  fill:#ff00ff;
}
.CChartGhosting {
  fill:#000000;  
  opacity: 0.15;
}
.CCAxis
{
    stroke:none;
    fill:#505050;
    font-size:11px;
}
.CCAxis path,
.CCAxis line {
  fill:none;
  stroke:#dddddd;
  stroke-width:1px;
  shape-rendering:crispEdges;
}
.CCAxisGrid line {
  stroke: #eeeeee;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.CCAxisGrid path {
  stroke-width: 0;
}


/* Line charts */
.LChart {
  stroke:#2c8ac1;
  stroke-width:7px;
  fill:none;
}
.LChart1 {
  stroke:#53a7dd;
  stroke-width:7px;
  fill:none;
}
.LChart2 {
  stroke:#e77b37;
  stroke-width:7px;
  fill:none;
}
.LChart5 {
  stroke:#505050;
  stroke-width:7px;
  fill:none;
}
.LChartDisabled {
  stroke:#cccccc;
  stroke-width:7px;
  fill:none;
}
.LChartText
{
  fill:#aaaaaa;
  font-size:11px;
  text-anchor:left;
}
.LGrid line {
  stroke: #eeeeee;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.LGrid path {
  stroke-width: 0;
}
.LCAxis
{
    fill:#505050;
    font-size:11px;
}
.LCAxis path,
.LCAxis line {
  fill:none;
  stroke:#aaaaaa;
  stroke-width:1px;
  shape-rendering:crispEdges;
}
/* The hover over object */
.focus {
    stroke: none;
    fill: #ffffff;
    pointer-events:none;
}
.focus text {
    font-size:12px;
}
.focus circle {
    stroke: #ffffff;
    fill:none;
    opacity:0.5;
}
.focus rect {
    stroke:#505050;
    fill:#505050;
    opacity:0.7;
}

/* pie charts */
.PChartPath
{
    stroke:none;
}
.PChartPath:hover
{
    stroke-width:3px;
    stroke:#DE9700;
}
.PCTooltip {
    background:#eee;
    box-shadow:0 0 5px #999999;
    color:#333;
    display:none;
    font-size:12px;
    left:130px;
    padding:10px;
    position:absolute;
    text-align:center;
    top:95px;
    width:80px;
    z-index:10;
}
.PCLegend {
    fill:#064877;
    font-size:10px;
}
PCRect {
    cursor:pointer;
    stroke-width:2;
}
PCRect.disabled {
    fill:transparent !important;
}
.PChartClicked {
    fill: #ff00ff;
}
h1 {
    font-size:14px;
    text-align:center;
}

/* Sankey diagrams */
.SankeyNode rect {
    /*cursor: move;*/
    fill-opacity: .9;
    shape-rendering: crispEdges;
}
.SankeyNode text {
    pointer-events: none;
    /*text-shadow: 0 1px 0 #fff;*/
    font-size: 11px;
    font-weight: bold;
    stroke:none;
    fill:#0072bc;
}
.SankeyLink {
    fill: none;
    stroke: #000;
    stroke-opacity: .1;
}
.SankeyLinkHighlight {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}
.SankeyLinkFaded {
    fill: none;
    stroke: #505050;
    stroke-opacity: .05;
}
.SankeyLinkNone {
    fill: none;
    stroke: none;
}
.SankeyLink:hover {
    stroke-opacity: .2;
}
text.SankeyTxtTitle {
    pointer-events: none;
    /*text-shadow: 0 1px 0 #fff;*/
    font-size: 13px;
    font-weight: bold;
    stroke:none;
    fill:#0072bc;
}     
tspan.SankeyTxtNum, text.SankeyTxtNum {
    pointer-events: none;
    /*text-shadow: 0 1px 0 #fff;*/
    font-size: 12px;
    font-weight: bold;
    stroke:none;
    fill:#505050;
}

/* Slider */
.slider-container {
    background-color: #f2f2f9;
    height:20px;
}
.slider {
    position: absolute;
    border: 1px solid #AAB;
    background: #BCE;
    height: 100%;
    width: 58px;
    top: 0px;
    cursor: move;
    /*margin:-0.5px;*/
}
.slider .handle {
    position: absolute;
    height: 9px;
    width: 9px;
    border: 1px solid #AAB;
    background: #9AC;

    /* Support for bootstrap */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.slider .EE {
    right: -4px;
    cursor: e-resize;
}
.slider .WW {
    cursor: w-resize;
    left: -4px;
}
.slider .EE, .slider .WW {
    top: 50%;
    margin-top: -4px;
}
.play-container .button{
    fill-opacity: 0.0;
    stroke: #AAB;
    stroke-width: 1.6;
}
.play-container .play, .play-container .stop {
    fill: #BCE;
    stroke: #AAB;
    stroke-width: 1;
}

/* Map */
.MapMarker1 {
    stroke: #aaaaaa;   
    stroke-width: 1px;
    stroke-opacity: 0.5;
    fill: #aaaaaa;
    fill-opacity: 0.3;
    transition: all 750ms;
}
.MapMarker2 {
    stroke: #e77b37;   
    stroke-width: 1px;
    stroke-opacity: 0.5;
    fill: #e77b37;
    fill-opacity: 0.3;
    transition: all 750ms;
}
.MapMarkerNoTransition {
    transition: all 1ms;
}
.MapLabel {
    pointer-events:none;
    position:relative;
    margin: 0 auto;
}
.MapLabelText {    
    pointer-events:none;
    width: 110px;
    text-align:center;

    color: #202020; 
    /*font-size: larger;*/
    
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
}
.MapHoverBox {
    position: absolute; 
    display:none;
    z-index:1500; 
    color:#ffffff; 
    background-color:#505050; 
    left: 0px; 
    top: 0px; 
    width: 130px; 
    height:18px; 
    padding: 6px;    
    opacity:0.8;
    border-radius:2px 2px 2px 2px; 
    box-shadow: 1px 1px 1px #888888;
    pointer-events:none;

}

/* Drop shadows */
.DropShadowSVG
{
    /* This one does Chrome and IE, but kills the further rendering of FF - so we need to NOT do it for FF */
    filter:url(#drop-shadow);
}
.DropShadowCSS
{ /* The combo of these two do firefox ok - but not IE or Chrome */
    -webkit-filter:drop-shadow(2px 2px 3px rgba(0,0,0,0.3));
    filter:drop-shadow(2px 2px 3px rgba(0,0,0,0.3));
}
.DropShadowNone{}

.TableVisStructure td {
    padding:5px;
}
/* The styles for the embedded charts in tables to show visually the relative size of the data */
.ECTable td {
    padding:2px;
}
.ECWrapper {
    position:relative;
}
.ECNumber {
    position:relative;
    top:1px;
    left:5px;
    width: 50px;
    max-width: 50px;
    z-index:1001;
    color:#000000;
}
.ECChart {
    position:absolute;
    left:0px;
    top:0px;
    height:24px;
    min-height:24px;
    background-color:#84cef3;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    z-index:1000;
}

.TableFilterDataTable
{
    margin:0px -16px 0px -16px;
}

.VisFullWrapper {
    position: relative; 
    margin: 0 auto; 
    min-width: 1500px; 
    width: 1500px; 
    min-height: 950px;
    margin-top: 15px;
}

.VisCellWrapper {
    padding:5px;
}

.VisWrapper {
    position: relative;
    left: 0px;
    top: 0px;
    margin-left:0px; 
    margin-top:0px; 
}

.SummaryFigure {
    position:absolute;
    left:90px;
    top:2px;
}
.SummaryFigureWrapper {
    position:relative; 
    width:100%; 
    padding-top:11px;
    padding-bottom:11px;
    padding-left:10px;
    padding-right:20px;
}

.HoverBox {
    position: absolute;
    display: none;
    z-index: 1500;
    color: #ffffff;
    background-color: #505050;
    left: 0px;
    top: 0px;
    width: 130px;
    /*    height:18px; */
    padding: 6px;
    opacity: 0.6;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 1px #888888;
    pointer-events: none;
}

.FullWidth {
    width:100%;
}
.FullWidthHeight {
    position: relative;
    width:100%;
    height: 100%;
}

.NumWrapper {
    text-align:right;
}




